name: Trigger Jenkins Job

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  trigger-jenkins:
    runs-on: self-hosted

    steps:
      - name: Trigger Jenkins Job
        run: |
          powershell -ExecutionPolicy Bypass -Command "
            $User = '${{ secrets.JENKINS_USER }}';
            $Token = '${{ secrets.JENKINS_API_TOKEN }}';
            $Base64Auth = [Convert]::ToBase64String([Text.Encoding]::ASCII.GetBytes(\"$User:$Token\"));
            Invoke-WebRequest -Uri 'http://192.168.100.6:8080/job/git-jenkin-docker/build?token=trigger123' -Method Post -Headers @{Authorization=\"Basic $Base64Auth\"}
          "
